<div *ngIf="isLoaded">
    <table class="table table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <!-- Dummy header to accomodate the series logo -->
                <th></th>
                <th scope="col">Series Name</th>
                <th scope="col">Episode No.</th>
                <th scope="col">Episode Name</th>
                <th scope="col">Original Air Date</th>
                <th scope="col">Watched</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of episodes; let i = index"
                [ngClass]="{'table-success' : row['Original Air Date'] && row['Original Air Date'] < currentDate}"
                (click)="createCookie(i)">
                <td>{{i + 1}}</td>
                <td>
                    <div *ngIf="row['Series Name'] == 'The Flash'">
                        <img src="../../assets/logos/the-flash-logo-edit.png" height="30px">
                    </div>
                    <div *ngIf="row['Series Name'] == 'Arrow'">
                        <img src="../../assets/logos/arrow-logo-edit.png" height="30px">
                    </div>
                    <div *ngIf="row['Series Name'] == 'Supergirl'">
                        <img src="../../assets/logos/supergirl-logo-edit.png" height="30px">
                    </div>
                    <div *ngIf="row['Series Name'] == 'Legends of Tomorrow'">
                        <img src="../../assets/logos/legends-of-tomorrow-logo.png" height="30px">
                    </div>
                </td>
                <td>{{row['Series Name']}}</td>
                <td>{{row['Episode No.']}}</td>
                <td>{{row['Episode Name']}}</td>
                <td>{{row['Formatted Date']}}</td>
                <td>
                    <div *ngIf="row['Watched']">
                        <img src="../../assets/tick.png" height="30px">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>